<row>
  <h1> Find Users</h1>
  <h4> Sort and Search</h4>
  2 select boxes that gets only current users haves and wants
</row>

<%= paginate @users %>


<div class="user_quick_info">
  <% @users.each do |user| %>
    <% if current_user %>
    <h4><%= link_to user.username, user_path(user) %><h4>
      <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation tiny button",
      "data-sid" => current_user.id, "data-rip" => user.id %>
    <% end %>
  <% end %>
</div>
