/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body{
  background-color: #373737;
}

.white{
  background-color: white;
  height: 50px;
}


$body-font-family: sans-;

#container{
  padding-top: 40px;
  width: 900px;
  margin: 0 auto;
}


.flash{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 80px;
  text-align: center;
}

.flash p{
  padding:20px;
  color: #795454;
  font-size: 30px;

}

row{
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 1;
  padding-left: 20px;
  margin-left: 20px;
  margin: 0 auto;
}

.eqWrap {
  display: flex;
  padding:20px;
  margin: 0 auto;
  width: 100%
}
