.title{
  text-align: center;
}

.columns{
  text-align: center;
}

.little-form-1{
  margin: 0 auto;
  max-width: 500px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.little-form-2{
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 60px;
}


.sort-search{
  margin: 0 auto;
  max-width: 1000px;
}

.padded{
  padding: 53px;
}
