.title{
  text-align: center;
  padding-bottom: 30px;
}

 .center-text{
  text-align: center;
}

.little-form-1{
  margin: 0 auto;
  max-width: 500px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.little-form-2{
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 60px;
}

.sort-search{
  margin: 0 auto;
  max-width: 800px;
}

.padded{
  padding: 20px;
}
